@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model HomestayBooking.DTOs.UserDto.UserDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>The Cappa Luxury Hotel</title>

    <link rel="shortcut icon" href="@Url.Content("~/img/client/favicon.png")" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap">
    <link rel="stylesheet" href="@Url.Content("~/css/client/plugins.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/client/style.css")" />

</head>
<body>

    <!-- Navbar -->
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <div class="logo-wrapper">
                <a class="logo" href="index.html"> <img src="@Url.Content("~/img/client/logo.png")" class="logo-img" alt=""> </a>
                <!-- <a class="logo" href="index.html"> <h2>THE CAPPA <span>Luxury Hotel</span></h2> </a> -->
            </div>
            <!-- Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto">


                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/Home/Index">Home</a>

                    </li>
                    <li class="nav-item"><a class="nav-link" href="/Home/About">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="/Home/Rooms">Rooms & Suites</a>

                    </li>
                    <li class="nav-item"><a class="nav-link" href="/Home/Restaurant">Restaurant</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/Spa">Spa</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/Home/News">News </a>

                    </li>
                    <li class="nav-item"><a class="nav-link" href="/Home/Contact">Contact</a></li>


                </ul>
                <ul class="navbar-nav ms-auto">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" href="#" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ti-user"></i>
                                <span class="username">@user.FullName</span> <!-- XÓA style -->
                                <i class="ti-angle-down small"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="/Home/Profile"><i class="ti-id-badge me-2"></i>My profile</a></li>
                                <li><a class="dropdown-item" href="/Home/MyBookings"><i class="ti-agenda me-2"></i>My bookings</a></li>
                                <li>
                                    <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline">
                                        <button type="submit" class="dropdown-item"><i class="ti-power-off me-2"></i>Log out</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Auth/Login"><i class="ti-user me-1"></i> Login</a>
                        </li>
                    }
                </ul>


            </div>
        </div>
    </nav>

    <header class="header slider-fade">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="1" data-background="@Url.Content("~/img/client/slider/2.jpg")">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <span>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                </span>
                                <h4>Luxury Hotel & Best Resort</h4>
                                <h1>My Profile</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="#" data-scroll-nav="1"><span>Rooms & Suites</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </header>
    <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ms-auto">


        <li class="nav-item dropdown">
            <a class="nav-link" href="/Home/Index">Home</a>

        </li>
        <li class="nav-item"><a class="nav-link" href="/Home/About">About</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link " href="/Home/Rooms">Rooms & Suites</a>

        </li>
        <li class="nav-item"><a class="nav-link" href="/Home/Restaurant">Restaurant</a></li>
        <li class="nav-item"><a class="nav-link" href="/Home/Spa">Spa</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="/Home/News">News </a>

        </li>
        <li class="nav-item"><a class="nav-link" href="/Home/Contact">Contact</a></li>


    </ul>
    <ul class="navbar-nav ms-auto">
            @if (SignInManager.IsSignedIn(User))
            {
                var user = await UserManager.GetUserAsync(User);
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" href="#" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ti-user"></i>
                        <span class="username">@user.FullName</span> <!-- XÓA style -->
                        <i class="ti-angle-down small"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="/Profile"><i class="ti-id-badge me-2"></i>My profile</a></li>
                        <li><a class="dropdown-item" href="/Home/MyBookings"><i class="ti-agenda me-2"></i>My bookings</a></li>
                        <li>
                            <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline">
                                <button type="submit" class="dropdown-item"><i class="ti-power-off me-2"></i>Log out</button>
                            </form>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Auth/Login"><i class="ti-user me-1"></i> Login</a>
                </li>
            }
    </ul>


</div>

    <!-- Profile Section -->
    <section class="section-padding">
    <div class="container mt-5">
        <h3>Update Profile</h3>

        <form asp-action="UpdateProfile" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Full Name</label>
                    <input class="form-control" name="FullName" value="@Model.FullName" required />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" value="@Model.Email" readonly />
                    <input type="hidden" name="Email" value="@Model.Email" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Identity Card</label>
                    <input class="form-control" name="IdentityCard" value="@Model.IdentityCard" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Address</label>
                    <input class="form-control" name="Address" value="@Model.Address" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">DOB</label>
                    <input type="date" class="form-control" name="DOB" value="@Model.DOB.ToString("yyyy-MM-dd")" />
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Gender</label>
                        <select class="form-select" name="Gender">
                            @foreach (var gender in new[] { "Male", "Female", "Other" })
                            {
                                if (Model.Gender == gender)
                                {
                                    <option value="@gender" selected>@gender</option>
                                }
                                else
                                {
                                    <option value="@gender">@gender</option>
                                }
                            }
                        </select>


                </div>
            </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-dark">Save Changes</button>
                </div>
            </form>

            <hr class="my-5" />
            <h3>Change Password</h3>
            <form asp-action="ChangePassword" method="post">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Current Password</label>
                        <input type="password" class="form-control" name="currentPassword" required />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">New Password</label>
                        <input type="password" class="form-control" name="newPassword" required />
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-dark">Change Password</button>
                </div>
            </form>


        <!-- Alert container -->
        <div id="alert-container" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["Success"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["Error"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            }
        </div>
    </div>
</section>

    <!-- Footer -->

    <!-- Scripts -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery-3.6.0.min.js" type="546b1a996ad6c1389e6258f7-text/javascript"></script>

    <script src="@Url.Content("~/js/client/jquery-3.6.3.min.js")"></script>
    <script src="@Url.Content("~/js/client/jquery-migrate-3.0.0.min.js")"></script>
    <script src="@Url.Content("~/js/client/modernizr-2.6.2.min.js")"></script>
    <script src="@Url.Content("~/js/client/imagesloaded.pkgd.min.js")"></script>
    <script src="@Url.Content("~/js/client/jquery.isotope.v3.0.2.js")"></script>
    <script src="@Url.Content("~/js/client/pace.js")"></script>
    <script src="@Url.Content("~/js/client/popper.min.js")"></script>
    <script src="@Url.Content("~/js/client/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/client/scrollIt.min.js")"></script>
    <script src="@Url.Content("~/js/client/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/js/client/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/client/jquery.stellar.min.js")"></script>
    <script src="@Url.Content("~/js/client/jquery.magnific-popup.js")"></script>
    <script src="@Url.Content("~/js/client/YouTubePopUp.js")"></script>
    <script src="@Url.Content("~/js/client/select2.js")"></script>
    <script src="@Url.Content("~/js/client/datepicker.js")"></script>
    <script src="@Url.Content("~/js/client/smooth-scroll.min.js")"></script>
    <script src="@Url.Content("~/js/client/custom.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 

    <style>
        .input1_inner.no-icon::after {
            display: none !important;
        }

    </style>
    <style>
        .gender-select {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="black" height="24" width="24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 0.75rem center;
            background-size: 1rem;
            padding-right: 2rem; /* tạo khoảng trống cho icon */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: calc(1.5em + 0.75rem + 2px); /* tương thích với form-control */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const alerts = document.querySelectorAll('#alert-container .alert');
            alerts.forEach(alertEl => {
                setTimeout(() => {
                    var alertInstance = bootstrap.Alert.getOrCreateInstance(alertEl);
                    alertInstance.close();
                }, 3000);
            });
        });
    </script>
    <style>
        /* Làm alert rõ ràng hơn */
        #alert-container .alert {
            background-color: rgba(255, 255, 255, 0.95) !important; /* Nền trắng đục dễ đọc */
            color: #000 !important; /* Chữ đen dễ nhìn */
            border: 1px solid #ccc;
            box-shadow: 0 2px 6px rgba(0,0,0,0.2);
            padding: 0.75rem 1rem;
            width: 300px; /* Chiều rộng cố định */
        }

        /* Thu nhỏ select */
        .form-select,
        .gender-select {
            height: calc(1.2em + 0.5rem + 2px); /* nhỏ hơn mặc định */
            padding: 0.25rem 1.5rem 0.25rem 0.5rem;
            font-size: 0.9rem;
            background-size: 0.8rem; /* icon nhỏ lại */
        }

        /* Icon cho gender-select nếu dùng riêng */
        .gender-select {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="black" height="20" width="20"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 0.5rem center;
            background-size: 0.8rem;
        }
    </style>






</body>
</html>
